{% extends 'hod_template/base_template.html' %} 
{% block page_title %} 
Home 
{% endblock page_title %}

{% block main_content %}

     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
           <div class="col-md-6">
            <!-- general form elements -->
          

              
            <!-- /.card -->

            <!-- general form elements -->
            
            <!-- /.card -->

            <!-- Input addon -->
           
            <!-- /.card -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}